<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Movie Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" ></ion-searchbar>

  <ion-item>
    <!-- <ion-label>Select Searchtype</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="movie">Movie</ion-select-option>
      <ion-select-option value="series">Series</ion-select-option>
      <ion-select-option value="episode">Episode</ion-select-option>
    </ion-select> -->

    <mat-form-field>
      <mat-label>Select Searchtype</mat-label>
      <mat-select [(ngModel)]="ionite" name="ionite">
        <!-- <mat-option value="">All</mat-option> -->
        <mat-option *ngFor="let type of types" [value]="type.id">{{type.name}}</mat-option>
        <!-- <mat-option value="movie">Movie</mat-option>
        <mat-option value="series">Series</mat-option>
        <mat-option value="episode">Episode</mat-option> -->
      </mat-select>
    </mat-form-field>
  </ion-item>

  <ion-list>
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'movies', item.imdbID]" >
      <ion-avatar slot="start">
        <img [src]="item.Poster" *ngIf="item.Poster != 'N/A'" />
      </ion-avatar>

      <ion-label text-wrap> <h3>{{ item.Title }}</h3> {{ item.Year }} </ion-label>

      <ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam" ></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type == 'game'" name="logo-game-controller-b" ></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
